<h1 class="fw">Welcome to the Wall</h1>
<form action="/messages" method="POST" id="messageForm">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
	
	<textarea name="content" id="messageInput" rows="5"></textarea><br>

	<input type="submit" value="Post" name="Post" class="btn create">
</form>
 

<% if @messages %>
	<% @messages.each do |message| %>
		
		<div class="messages">

			<p class="message_content">"<%= message.content %>"</p>

			<p class="gray">
				<i>
					<%= message.user.first_name %> - <%= message.created_at.strftime("%b %-d, %Y")%>
				</i>
			</p>

			<% if message.user == current_user %>
				<form action='/messages/<%= message.id %>' method='post' class="rForm">
					<input type='hidden' name='_method' value='delete'>
					<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					<input type='submit' value='X' class="delete btn right">
				</form>
			<% end %>

		</div>

		<% if message.comments %>
			<% message.comments.each do |comment| %>	
				<div class="comments">

					<p class="comment_content">"<%= comment.content %>"</p>

					<p class="gray">
						<i>
							<%= comment.user.first_name %> - <%= comment.created_at.strftime("%b %-d, %Y")%>								
						</i>
					</p>

					<% if comment.user == current_user %>
						<form action='/comments/<%= comment.id %>' method='post' class="rForm">
						<input type='hidden' name='_method' value='delete'>
						<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
						<input type='submit' value='X' class="delete btn right">
						</form>
					<% end %>
				</div>
			<% end %>
		<% end %>		


		<form action="/comments" method="POST" class="commentForm">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<input type="hidden" value="<%= message.id %>" name="message_id">
			<textarea name="content" rows="3" class="commentInput"></textarea><br>

			<input type="submit" value="Post Comment" name="Post Comment" class="btn create">
		</form>		


	<% end %>
<% end %>