<!DOCTYPE html>
<html>
<head>
  <title>The Wall</title>
  <%= favicon_link_tag 'marquee_star.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
</head>
<body>

	<div id="wrapper">
		<div id="navbar">
			<% if current_user %>
				<h3>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></h3>
				<% if self.current_user %>
					<form action='/users/logout' method='post'>
						<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
						<input type='submit' value='Log Out' class="btn">
					</form>
				<% end %>
			<% end %>
			<!-- <h1 class="fw">The Wall</h1> -->
			<img src="http://www.grenswerk.nl/thewall/assets/TheWall.png" alt="The Wall" id="theWall">
		</div>

		<%= yield %>	
	</div>
	

</body>
</html>
